.dateInput {
  height: 42px;
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  color: #374151;
  width: 100%;
  background-color: white;
  position: relative;
  pointer-events: auto;
  z-index: 0;
  appearance: auto; /* để giữ nguyên native appearance */
}

/* Custom calendar icon alignment */
.dateInput::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.7;
  filter: grayscale(50%);
  height: 16px;
  width: 16px;
  margin: 0;
}
